<h1>All My Profiles</h1>
<h2><%= current_user.profiles.name %></h2>
<h2><%= current_user.id %></h2>
<h2><a href="/profiles/new">(New Profile)</a></h2>
<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
