
  <% if current_user %>
      <h2><a href="/profiles/new">(New Profile)</a></h2>
      <h2><a href="profiles#index">Home</a></h2>
      <h1><%=current_user.profiles.name%><h1>

  <% else %>
  <div class='container'>
        <div class='row'>
      <% @profiles.each do |profile| %>

          <div class="col-md-3">
            <div class='caption'>
              <h2><%= profile.name %></h2>
            <div class='thumbnail'>
              <img><%= image_tag profile.pro_pic %></img>
            </div>

            </div>
          </div>

      <% end %>
    </div>
  </div>
<% end %>
