<h1>All About Chew</h1>
<% if current_user %>
  <h2>Hello <%= current_user.id %></h2>
  <h2><a href="/profiles/new">(New Profile)</a></h2>
  <h2><a href="profiles#index">Home</a></h2>

<% else %>
  <h3><%= 'Not Working!!' %></h3>
  <% end %>
